<section>
{% if site.show_projects %}
  <h1 class="title_section"><span>{{site.projects_title}}</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.projects %}
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>
        <p class="project-desc">{{project.descr}}</p>
        <div class="landing-icons">
          {% if project.github_username %}
            <a class="social-link" aria-label="GitHub" target="_blank" rel="noreferrer"
              href="https://github.com/{{project.github_username}}"
            >
              <svg viewBox="0 0 200 200" class="circle">
                <circle cx="100" cy="100" r="80" />
              </svg>
              <div class="social">
                <svg class="social-svg" viewBox="0 0 48 48">
                  <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
                </svg>
              </div>
              <span class="label">GitHub</span>
            </a>
          {% endif %}
  
          {% if project.youtube_link %}
          <a class="social-link" aria-label="Video" target="_blank" rel="noreferrer"
            href="{{project.youtube_link}}"
          >
            <svg viewBox="0 0 200 200" class="circle">
              <circle cx="100" cy="100" r="80" />
            </svg>
            <div class="social">
              <svg class="social-svg" viewBox="0 0 48 48">
                <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#youtube" | prepend: site.baseurl }}"></use>
              </svg>
            </div>
            <span class="label">Video</span>
          </a>
        {% endif %}
  
        {% if project.paper_link%}
        <a class="social-link" aria-label="Paper" target="_blank" rel="noreferrer"
          href="{{project.paper_link}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#paper-file" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Paper</span>
        </a>
        {% endif %}

        {% if project.website_link%}
        <a class="social-link" aria-label="Paper" target="_blank" rel="noreferrer"
          href="{{project.website_link}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#website" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Website</span>
        </a>
        {% endif %}
      </div>
        {% if project.tags %}
          <div class="tag-wrapper">
            {% for tag in project.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
</section>